@import '../estils.scss';

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/fons.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: $familia-font;
  color: $color-negre;

  ul {
    display: flex;
    flex-flow: row;

    li {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 30em;
      margin: 1em;
      background-color: rgb(230, 230, 230);
      border-radius: 2em;
      box-shadow: 1px 1px 10px 0 rgb(223, 222, 222), 0 6px 20px 0 rgb(223, 222, 222);

      div:first-of-type {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;
        align-items: center;
        font-size: 24px;

        h1 {
          padding: 1em 0em;
        }
        h2 {
          font-size: 20px;
          padding: 1em 0em;
        }
      }

      div:last-of-type {
        display: flex;
        flex-flow: column;

        align-items: center;

        img {
          width: 27em;
          height: 34em;
          box-shadow: 8px 8px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        h2 {
          padding: 2.5em 0em;
          font-style: italic;
        }
      }
    }
    li:hover {
      cursor: pointer;
    }
  }
}
